<div class="container mt-5">
    <h4>Internal server error = refrashing the page will make the error to disappear</h4>

    <!--We can use div, but it will be display , that's why we use the ng-container-->
    <ng-container *ngIf="error">
        <h5 class="text-danger">Error: {{error.message}}</h5>
        <p class="font-weight-bold">This error comes from the server - not Angular</p>
        <p>What to do next</p>
        <ol>
            <li>Check the network Tab in Chrome dev Tools</li>
            <li>Reproduce the request in postman - if the same error appear , it is not Angular/li>
        </ol>

        <h5>Stack Trace</h5>
        <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
    </ng-container>

</div>
